@model IEnumerable<ShoppingCart.Application.ViewModels.CartViewModel>

@{
    ViewData["Title"] = "myCart";
}

<h1>Shopping Cart</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.email == User.Identity.Name)
            {
                <tr>
                    <td> 
                        <img src="@item.Product.ImageUrl" class="card-img-top card-image" alt="@item.Product.Name" style="width:250px;">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
<a href="/Products/Checkout/" class="btn btn-danger">checkout</a>